@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:black;
  overflow-x: hidden;
}

.noborders:focus{
  border-top: none ;
  border-right: none;
  border-left: none;
  outline:none;
}