@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:black;
}

.noborders:focus{
  border-top: none ;
  border-right: none;
  border-left: none;
  outline:none;
}

.noborder-input:focus{
  border-right:none;
  border-bottom:none;
  border-top:none;
  outline:none
}
